*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white;
    background-color: black; */
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:red;
}
.wrapper .display{
    position: relative;
    border-radius: 10px;
    height: 150px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
}
.wrapper .display .display2{
    position: absolute;
    border-radius: 10px;
    height: 130px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:blue;
}
.wrapper .display .display2 #time {
    color: white;
    line-height: 80px;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
}
