body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    background-size: 400% 400%;
	background: linear-gradient(to right, blue , yellow); 
    animation:animate 5s ease infinite;
}
@keyframes animate {
    /* 0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	} */
	100% {
		filter: hue-rotate(360deg)
	}
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}