body {
    /* background-color: #0d1117; */
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    /* height: 100vh; */
    animation: animate 10s ease infinite;
}

main {
    text-align: center;
}

.container {
    height: 100vh;
    /* width 100% se vo element center me aajaega */
    width: 100%;
    margin-left: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

}

.header__logo {
    text-align: center;
    margin: 0 auto;
}

.form-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
}

.form-body {
    color: #c9d1d9;
    padding: 20px 20px;
    margin-left: auto;
    height: 300px;
    width: 308px;
    border: 1px solid #30363d;
    background-color: #161b22;
    border-radius: 12px;
    text-align: left;
}

.form-text {
    display: block;
    font-weight: 400;
    text-align: left;
    margin-bottom: 8px;
}

.form-input {
    display: block;
    width: 100%;
    /* padding: 5px 12px; */
    font-size: 14px;
    line-height: 30px;
    color: #c9d1d9;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 0 transparent;
    margin-bottom: 16px;
}

.forgot-password {
    font-size: 14px;
    display: block;
    color: #58A6FF;
    margin: 0 auto;
    float: right;
    text-decoration: none;
    /* padding: 8px; */
}

.form-button {
    margin-top: 30px;
    font-size: 14px;
    padding: 5px 16px;
    width: 100%;
    color: white;
    background-color: #238636;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #30363d;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 0 transparent;
    font-family: inherit;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    cursor: pointer;
}

.form-button:hover {
    background-color: #2ea043;
    border-color: rgba(240, 246, 252, 0.1);
    transition-duration: 0.1s;
}
.after-form-body{
    color: #c9d1d9;
    display: block;
    background: #161b22;
    width: 100%;
    height: 60px;
    border: 1px solid #30363d;
    border-radius: 6px;
    margin: 16px auto;
}
.after-form-link{
    text-decoration: none;
    color: #58A6FF;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.site-link{
    margin: 0px 10px;
    color: #58A6FF;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    list-style-type: none;
}
.site-link__grey {
    color: #8b949e;
}
.site-link:hover {
    text-decoration: underline;
    color: #58a6ff;
}
#error-element{
    display: none;
    font-size: smaller;
    background-color: #0d1117;
    border-radius: 6px;
    border: 1px solid #30363d;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}