*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 300px;
    width: 300px;
    /* background-color: azure;   */
    border-radius: 50%;  
    border: 5px solid yellowgreen;
}
#seconds{
    position: absolute;
    height: 140px;
    width: 2px;
    background-color: blueviolet;
    transform-origin: 0 100%;
    left: 149px;
    bottom: 149px;
}
#minutes{
    position: absolute;
    height: 130px;
    width: 4px;
    left: 149px;
    bottom: 149px;
    background-color: rgb(183, 81, 98);
    /* transform: translateY(180deg); */
    transform-origin: 0 100%;
}
#hours{
    position: absolute;
    height: 110px;
    width: 4px;
    left: 149px;
    bottom: 149px;
    background-color: orange;
    transform-origin: 0 100%;
}