*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    height: 300px;
    width: 150px;
}
p{
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.1;
    line-height: 10px;
    margin: 50px;
    
}