.notesBody{
    position: absolute;
    display: block;
    text-align: center;
    top: 15%;
}
.heading1{
    font-size: 30px;  
    width: auto;
}


/* ******************** Notes CSS Here *************** */
