.notesBody{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 15%;
    width: 100%;
    /* margin-left: 500px; */
    overflow: hidden;
}
.heading1{
    font-size: 30px;  
    width: auto;
}


/* ******************** Notes CSS Here *************** */

.cards{
    display: flex;
    max-width: 800px;
    width:calc(100% - 100px);
}