h1{
    font-size: large;
    color: green;
}
section .signin{
    background-image: url("/src/media/images/blob-scene-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}