@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
@font-face {
  font-family: "apologue";
  font-style: normal;
  font-weight: normal;
  src: local("apologue"), url("/src/media/apologue.otf") format("truetype");
}

/* how to use a .otf file in css  */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: #debcfe;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #debcfe #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #debcfe;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

                            /* ********** Navbar code ********** */
  .btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    color: #333;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2em;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .3);
    margin: 20px;
}
  #sidenav {
    width: 80%;
    max-width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #673AB7, #5E35B1);
    left: -300px;
    transition: left .35s;
}

.sidenav-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 100%;
    top: 0;
    z-index: -1;
    cursor: default;
}

#sidenav:target {
    left: 0;
}

#sidenav:target+.sidenav-overlay {
    left: 0;
}

ul {
    list-style: none;
    height: 100%;
    overflow: auto;
}

.center {
    text-align: center;
}

.user {
    padding: 20px;
    position: relative;
}

.user img {
    width: 150px;
    border-radius: 50%;
}

.user p {
    color: #eee;
    padding: 10px 0;
}

.divider {
    padding: 0;
    height: 1px;
    background: #7e57c2;
}

.title {
    color: #b39ddb;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 20px;
    padding-bottom: 10px;
}

.item {
    background: transparent;
    transition: background .35s;
}

.item a {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
    width: 100%;
}

.item.active,
.item:hover {
    background: rgba(0, 0, 0, .1);
}









/* Purple Diagonal lines code */
.heroBg {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    #debcfe,
    #debcfe 20px,
    white 20px,
    white 100px
  );
  opacity: 1;
}
/* till here */


/* oh shit , doing , done  */

h1 {
  color: #333;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 80%;
}

h1 span {
  font-size: 160px;
  font-weight: 500;
  margin-left: 0px;
}

.message {
  color: #bc7afa;
  display: block;
  font-weight: 200;
  overflow: visible;
  position: absolute;
  margin-top: 10px;
  margin-right: 150px;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 80%;
  animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
  /* position: relative; */
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
/* ************* Hero 2 css ************ */

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, #bc7afa 50%, white 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: 100vh;
  
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

/* .content {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  position: relative;
  z-index: 100;
  top: 50%; 
  transform: translate(-50%, -50%);
} */

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}


/* **************************** Hero 3 Css ******************* */
